In [107]:
#Respostas

#Questão 1: Letra B
#Questão 2: Letra C
#Questão 3: Letra B

In [8]:
#Questão 1
import numpy as np
import pandas as pd

arquivoEnem = pd.read_excel('enem2019.xlsx')
arqEnemAntigo = arquivoEnem
arquivoEnem

,COD UF,Estado,Quantidade de Inscritos,Total de inscritos de Ensino Médio Público,Total de inscritos de Ensino Médio Privado,Média da nota da prova de Ciências da Natureza,Média da nota da prova de Ciências Humanas,Média da nota da prova de Linguagens e Códigos,Média da nota da prova de Matemática,Média da nota da prova de redação
0,43,RS,46173,41424,4749,484.659842,524.267227,533.906006,546.707112,598.457500
1,16,AP,6136,5711,425,446.884217,477.089716,491.826222,477.948733,538.818381
2,27,AL,17551,15328,2223,453.600683,480.601937,496.041317,498.075512,553.236927
3,13,AM,25817,24541,1276,446.577429,475.833558,494.953598,482.391837,509.776809
4,52,GO,35546,31323,4223,477.625078,505.805269,520.101327,528.496087,594.747233
5,53,DF,21075,16488,4587,491.416323,521.916533,537.273155,540.552689,606.064022
6,15,PA,46742,42100,4642,454.386761,481.895274,493.224433,486.183729,562.508171
7,26,PE,61506,55191,6315,464.062071,491.227411,506.697136,515.049252,558.769121
8,22,PI,24156,21457,2699,458.422668,482.635566,497.002756,501.978563,577.567990
9,28,SE,13494,11261,2233,464.918482,491.793049,505.815090,508.695031,604.263188
10,42,SC,34646,30937,3709,488.451978,522.626599,531.496343,548.319166,587.808690
11,17,TO,9087,8627,460,455.306262,478.853000,497.216411,496.567979,558.849777
12,51,MT,18022,16515,1507,465.892259,493.876876,506.193957,508.679835,559.808250
13,25,PB,26938,23442,3496,463.969121,491.600768,504.116981,509.135298,585.282333
14,21,MA,43497,41377,2120,443.420893,469.198684,487.217335,480.233747,527.142178
15,24,RN,20349,17686,2663,475.937653,502.031469,516.174350,523.480033,598.369859
16,41,PR,52788,46058,6730,487.354390,519.390627,529.712041,541.746659,570.283666
17,12,AC,5330,5054,276,454.615066,482.340857,500.330089,491.772480,558.310209
18,33,RJ,73086,58065,15021,489.631863,519.930533,533.396993,541.914833,605.732021
19,23,CE,112313,106275,6038,451.870939,477.932753,492.956706,498.939480,526.061777
20,14,RR,2203,2030,173,464.764538,493.750264,506.722809,504.817560,521.731785
21,11,RO,12069,11681,388,458.499847,485.541271,502.057741,501.310154,548.389847
22,32,ES,25422,23187,2235,484.889184,512.252211,521.987041,543.111366,601.254706
23,31,MG,108173,97493,10680,488.408591,516.265989,527.469714,547.928061,605.138213
24,35,SP,219426,185540,33886,488.628185,521.312772,535.519439,547.016915,582.410304
25,50,MS,15539,14237,1302,473.982698,501.326601,517.284766,519.630141,571.824870
26,29,BA,70328,62827,7501,462.197014,490.913791,505.594393,502.835294,561.313678

In [28]:
arquivoEnem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 10 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   COD UF                                          27 non-null     int64
 1   Estado                                          27 non-null     object
 2   Quantidade de Inscritos                         27 non-null     int64
 3   Total de inscritos de Ensino Médio Público      27 non-null     int64
 4   Total de inscritos de Ensino Médio Privado      27 non-null     int64
 5   Média da nota da prova de Ciências da Natureza  27 non-null     int64
 6   Média da nota da prova de Ciências Humanas      27 non-null     int64
 7   Média da nota da prova de Linguagens e Códigos  27 non-null     int64
 8   Média da nota da prova de Matemática            27 non-null     int64
 9   Média da nota da prova de redação               27 non-null     int64
dtypes: int64(9), object(1)
memory usage: 2.1+ KB

In [26]:
#transformando em int
arquivoEnem[['Média da nota da prova de Ciências da Natureza','Média da nota da prova de Ciências Humanas','Média da nota da prova de Linguagens e Códigos','Média da nota da prova de Matemática','Média da nota da prova de redação']] = arquivoEnem[['Média da nota da prova de Ciências da Natureza','Média da nota da prova de Ciências Humanas','Média da nota da prova de Linguagens e Códigos','Média da nota da prova de Matemática','Média da nota da prova de redação']].astype('int64')
arquivoEnem

,COD UF,Estado,Quantidade de Inscritos,Total de inscritos de Ensino Médio Público,Total de inscritos de Ensino Médio Privado,Média da nota da prova de Ciências da Natureza,Média da nota da prova de Ciências Humanas,Média da nota da prova de Linguagens e Códigos,Média da nota da prova de Matemática,Média da nota da prova de redação
0,43,RS,46173,41424,4749,484,524,533,546,598
1,16,AP,6136,5711,425,446,477,491,477,538
2,27,AL,17551,15328,2223,453,480,496,498,553
3,13,AM,25817,24541,1276,446,475,494,482,509
4,52,GO,35546,31323,4223,477,505,520,528,594
5,53,DF,21075,16488,4587,491,521,537,540,606
6,15,PA,46742,42100,4642,454,481,493,486,562
7,26,PE,61506,55191,6315,464,491,506,515,558
8,22,PI,24156,21457,2699,458,482,497,501,577
9,28,SE,13494,11261,2233,464,491,505,508,604
10,42,SC,34646,30937,3709,488,522,531,548,587
11,17,TO,9087,8627,460,455,478,497,496,558
12,51,MT,18022,16515,1507,465,493,506,508,559
13,25,PB,26938,23442,3496,463,491,504,509,585
14,21,MA,43497,41377,2120,443,469,487,480,527
15,24,RN,20349,17686,2663,475,502,516,523,598
16,41,PR,52788,46058,6730,487,519,529,541,570
17,12,AC,5330,5054,276,454,482,500,491,558
18,33,RJ,73086,58065,15021,489,519,533,541,605
19,23,CE,112313,106275,6038,451,477,492,498,526
20,14,RR,2203,2030,173,464,493,506,504,521
21,11,RO,12069,11681,388,458,485,502,501,548
22,32,ES,25422,23187,2235,484,512,521,543,601
23,31,MG,108173,97493,10680,488,516,527,547,605
24,35,SP,219426,185540,33886,488,521,535,547,582
25,50,MS,15539,14237,1302,473,501,517,519,571
26,29,BA,70328,62827,7501,462,490,505,502,561

In [47]:
enemCH = arquivoEnem[['Estado','Média da nota da prova de Ciências Humanas']]
enemCH.sort_values(['Média da nota da prova de Ciências Humanas'])

   Estado  Média da nota da prova de Ciências Humanas
14     MA                                         469
3      AM                                         475
1      AP                                         477
19     CE                                         477
11     TO                                         478
2      AL                                         480
6      PA                                         481
17     AC                                         482
8      PI                                         482
21     RO                                         485
26     BA                                         490
13     PB                                         491
9      SE                                         491
7      PE                                         491
12     MT                                         493
20     RR                                         493
25     MS                                         501
15     RN                                         502
4      GO                                         505
22     ES                                         512
23     MG                                         516
16     PR                                         519
18     RJ                                         519
5      DF                                         521
24     SP                                         521
10     SC                                         522
0      RS                                         524

In [32]:
amp_total = np.max(enemCH['Média da nota da prova de Ciências Humanas']) - np.min(enemCH['Média da nota da prova de Ciências Humanas'])
amp_total

55

In [101]:
n = enemCH['Média da nota da prova de Ciências Humanas'].count()
n

k = 1 + (3.22 * np.log10(n))

k

5.608991320591939

In [102]:
amp_classes = amp_total / k
h = round(amp_classes)
h

10

In [104]:
frequencias = []
menor = enemCH['Média da nota da prova de Ciências Humanas'].min()

valor = menor
while (valor < enemCH['Média da nota da prova de Ciências Humanas'].max()):
    frequencias.append(valor)
    valor += h
frequencias

[469, 479, 489, 499, 509, 519]

In [105]:
f = pd.cut(enemCH['Média da nota da prova de Ciências Humanas'], bins=frequencias, right=False)
f

0                NaN
1     [469.0, 479.0)
2     [479.0, 489.0)
3     [469.0, 479.0)
4     [499.0, 509.0)
5                NaN
6     [479.0, 489.0)
7     [489.0, 499.0)
8     [479.0, 489.0)
9     [489.0, 499.0)
10               NaN
11    [469.0, 479.0)
12    [489.0, 499.0)
13    [489.0, 499.0)
14    [469.0, 479.0)
15    [499.0, 509.0)
16               NaN
17    [479.0, 489.0)
18               NaN
19    [469.0, 479.0)
20    [489.0, 499.0)
21    [479.0, 489.0)
22    [509.0, 519.0)
23    [509.0, 519.0)
24               NaN
25    [499.0, 509.0)
26    [489.0, 499.0)
Name: Média da nota da prova de Ciências Humanas, dtype: category
Categories (5, interval[int64]): [[469, 479) < [479, 489) < [489, 499) < [499, 509) < [509, 519)]

In [106]:
f.value_counts()

[489, 499)    6
[469, 479)    5
[479, 489)    5
[499, 509)    3
[509, 519)    2
Name: Média da nota da prova de Ciências Humanas, dtype: int64

In [108]:
h

10

In [161]:
#Questão 2

arqEnemNovo = pd.read_excel('enem2019.xlsx')
for i in range(arqEnemNovo['COD UF'].count()):
    if ((arqEnemNovo.loc[i]['COD UF'] // 10) != 2):
        arqEnemNovo = arqEnemNovo.drop([i], axis=0)
arqEnemNovo

,COD UF,Estado,Quantidade de Inscritos,Total de inscritos de Ensino Médio Público,Total de inscritos de Ensino Médio Privado,Média da nota da prova de Ciências da Natureza,Média da nota da prova de Ciências Humanas,Média da nota da prova de Linguagens e Códigos,Média da nota da prova de Matemática,Média da nota da prova de redação
2,27,AL,17551,15328,2223,453.600683,480.601937,496.041317,498.075512,553.236927
7,26,PE,61506,55191,6315,464.062071,491.227411,506.697136,515.049252,558.769121
8,22,PI,24156,21457,2699,458.422668,482.635566,497.002756,501.978563,577.567990
9,28,SE,13494,11261,2233,464.918482,491.793049,505.815090,508.695031,604.263188
13,25,PB,26938,23442,3496,463.969121,491.600768,504.116981,509.135298,585.282333
14,21,MA,43497,41377,2120,443.420893,469.198684,487.217335,480.233747,527.142178
15,24,RN,20349,17686,2663,475.937653,502.031469,516.174350,523.480033,598.369859
19,23,CE,112313,106275,6038,451.870939,477.932753,492.956706,498.939480,526.061777
26,29,BA,70328,62827,7501,462.197014,490.913791,505.594393,502.835294,561.313678

In [162]:
media_mat = pd.Series(arqEnemNovo['Média da nota da prova de Matemática']).mean()

In [163]:
mediana_mat = pd.Series(arqEnemNovo['Média da nota da prova de Matemática']).median()

In [166]:
moda_mat = pd.Series(arqEnemNovo['Média da nota da prova de Matemática']).mode()

In [165]:
print((media_mat, mediana_mat, moda_mat))

(504.2691345157466, 502.835293920504, 0    498
dtype: int64)

In [169]:
#Questão 3
arqEnemNovo.sort_values(['Média da nota da prova de redação'])

,COD UF,Estado,Quantidade de Inscritos,Total de inscritos de Ensino Médio Público,Total de inscritos de Ensino Médio Privado,Média da nota da prova de Ciências da Natureza,Média da nota da prova de Ciências Humanas,Média da nota da prova de Linguagens e Códigos,Média da nota da prova de Matemática,Média da nota da prova de redação
19,23,CE,112313,106275,6038,451.870939,477.932753,492.956706,498.939480,526.061777
14,21,MA,43497,41377,2120,443.420893,469.198684,487.217335,480.233747,527.142178
2,27,AL,17551,15328,2223,453.600683,480.601937,496.041317,498.075512,553.236927
7,26,PE,61506,55191,6315,464.062071,491.227411,506.697136,515.049252,558.769121
26,29,BA,70328,62827,7501,462.197014,490.913791,505.594393,502.835294,561.313678
8,22,PI,24156,21457,2699,458.422668,482.635566,497.002756,501.978563,577.567990
13,25,PB,26938,23442,3496,463.969121,491.600768,504.116981,509.135298,585.282333
15,24,RN,20349,17686,2663,475.937653,502.031469,516.174350,523.480033,598.369859
9,28,SE,13494,11261,2233,464.918482,491.793049,505.815090,508.695031,604.263188

In [177]:
redacao = pd.Series(arqEnemNovo['Média da nota da prova de redação'])
redacao

2     553.236927
7     558.769121
8     577.567990
9     604.263188
13    585.282333
14    527.142178
15    598.369859
19    526.061777
26    561.313678
Name: Média da nota da prova de redação, dtype: float64

In [188]:
listaquartil = redacao.quantile([0.0,0.25,0.5,0.75,1])
listaquartil

0.00    526.061777
0.25    553.236927
0.50    561.313678
0.75    585.282333
1.00    604.263188
Name: Média da nota da prova de redação, dtype: float64

In [197]:
if (redacao[13] <= listaquartil[0.0]):
    print('0-quartil')
elif (redacao[13] <= listaquartil[0.25]):
    print('1-quartil')
elif (redacao[13] <= listaquartil[0.5]):
    print('2-quartil')
elif (redacao[13] < listaquartil[1.0]):
     print('3-quartil')
elif (redacao[13] == listaquartil[1.0]):
     print('4-quartil')

3-quartil